.grid > * {
  margin-block-end: 6rem;
}

/* 600px */
@media screen and (min-width: 37.5rem) {
  .grid > * {
    margin-block-end: 7.5rem;
  }
}

/* 1200px */
@media screen and (min-width: 75rem) {
  .grid > * {
    margin-block-end: 10rem;
  }
}
