.country {
  text-align: center;
}

.country__image > img {
  margin-inline: auto;
}

.country__title {
  composes: heading-small from global;
  text-transform: uppercase;
  margin-block: 3rem 2rem;
}
