.projects {
  padding-inline: var(--padding-inline);
}

.projects > * + * {
  margin-block-start: 40px;
}

@media screen and (min-width: 600px) {
  .projects > * + * {
    margin-block-start: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
    column-gap: 30px;
    row-gap: 32px;
  }

  .projects > * + * {
    margin-block-start: 0;
  }
}
