.projects {
  padding-inline: var(--padding-inline);
}

.projects > * + * {
  margin-block-start: 40px;
}

@media screen and (min-width: 700px) {
  .projects > * + * {
    margin-block-start: 32px;
  }
}
