.hero {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
  text-align: center;
  padding-inline: var(--padding-inline);
  padding-block: 80px 451px;
  position: relative;
  overflow-y: hidden;
  isolation: isolate;
}

.hero__content > p {
  margin-block-start: 0.875rem;
  line-height: 1.5625rem;
}

.hero__content > a {
  margin-block-start: 1.5rem;
}

.hero__pattern {
  position: absolute;
  width: 100%;
  right: 0;
  top: 102px;
  z-index: -2;
}

.hero__pattern > img {
  object-fit: none;
  margin-inline-start: auto;
  object-position: left;
}

.hero__image {
  position: absolute;
  left: 0;
  transform: translateY(-90px);
  z-index: -1;
}

.hero__image > img {
  object-fit: cover;
}
