.countries {
  padding-inline: var(--padding-inline);
}

.countries > * + * {
  margin-block-start: 3rem;
}

@media screen and (min-width: 600px) {
  .countries > * + * {
    margin-block-start: 5rem;
  }
}

@media screen and (min-width: 950px) {
  .countries > * + * {
    margin-block-start: 0;
  }

  .countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  }
}
