.countries {
  padding-inline: var(--padding-inline);
}

.countries > * + * {
  margin-block-start: 3rem;
}

/* 600px */
@media screen and (min-width: 37.5rem) {
  .countries > * + * {
    margin-block-start: 5rem;
  }
}

/* 950px */
@media screen and (min-width: 59.375rem) {
  .countries > * + * {
    margin-block-start: 0;
  }

  .countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  }
}
