.cta {
  text-align: center;
  color: var(--color-primary-light);
  padding-inline: var(--padding-inline);
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 74.9999%,
    var(--color-primary-dark) 75%,
    var(--color-primary-dark) 100%
  );
}

.cta__box {
  background-color: var(--color-primary);
  padding-block: 64px;
  padding-inline: 24px;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  isolation: isolate;
}

.cta__pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.cta__pattern > img {
  object-fit: none;
  object-position: top 50% right -15px;
}

.cta__header {
  composes: heading-large from global;
  width: 12ch;
  margin-inline: auto;
  font-weight: var(--fw-bold);
}

.cta__text {
  composes: text-small from global;
  margin-block-start: 1rem;
  max-width: 45ch;
  margin-inline: auto;
}

.cta__link {
  margin-block-start: 1.9375rem;
}

/* 600px */
@media screen and (min-width: 37.5rem) {
  .cta__header {
    font-size: var(--h-size-m);
    line-height: 2.5rem;
  }

  .cta__box {
    padding-block: 57px;
  }

  .cta__pattern > img {
    object-position: top 50% left -20px;
  }
}
/* 1200px */
@media screen and (min-width: 75rem) {
  .cta__box {
    padding-block: 72px;
    padding-inline: var(--box-padding-inline) 96px;
    text-align: start;
    display: grid;
    grid-template-areas: 'header link' 'text link';
  }

  .cta__header,
  .cta__text,
  .cta__link {
    margin: 0;
  }

  .cta__header {
    grid-area: header;
  }

  .cta__text {
    max-width: 50ch;
    grid-area: text;
    margin-block-start: 0.9rem;
  }

  .cta__link {
    grid-area: link;
    justify-self: end;
    align-self: center;
  }

  .cta__pattern > img {
    object-position: top 50% right 0;
  }
}
