.grid > * {
  margin-block-end: 7.5rem;
}

/* 600px 1200px*/
@media screen and (min-width: 37.5rem) and (max-width: 75rem) {
  .grid > *:last-child {
    margin-block-end: 4.1rem;
  }
}

/* 1200px */
@media screen and (min-width: 75rem) {
  .grid > * {
    margin-block-end: 10rem;
  }
}
