.section {
  text-align: center;
  line-height: 1.5625rem;
}

.section__image {
  position: relative;
  width: 100%;
  height: 320px;
}

.section__image > img {
  object-fit: cover;
}

.section__info {
  composes: text-small from global;
  padding-block: 80px;

  position: relative;
  overflow: hidden;
}

.section__pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section__pattern > img {
  object-fit: none;
}

.section__pattern--dark > img {
  object-position: 100% 25%;
}

.section__pattern--light > img {
  object-position: top left;
}

.section__title {
  composes: heading-large from global;
  position: relative;
}

.section__info > p {
  margin-block-start: 1.5rem;
  position: relative;
}

.section--dark {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
}

.section--light {
  background-color: var(--color-tertiary);
  color: var(--color-secondary-dark);
  min-height: 545px;
}

.section--light :is(h1, h2) {
  color: var(--color-primary);
}

@media screen and (min-width: 600px) {
  .section {
    padding-inline: var(--padding-inline);
  }

  .section__box {
    margin-block-start: 6px;
    border-radius: var(--border-radius);

    /* Overflow is for rounded borders */
    overflow: hidden;
  }

  .section__info {
    padding-block: 64px 69px;
  }

  .section__info > p {
    margin-block-start: 2rem;
  }

  .section--light {
    background-color: var(--color-tertiary);
    color: var(--color-secondary-dark);
    min-height: revert;
  }
  .section__pattern--light > img {
    object-position: bottom 50px right 10px;
  }

  .section--light > .section__title {
    font-size: var(--h-size-m);
  }
}

@media screen and (min-width: 1200px) {
  .section__box {
    margin-block-start: 0;
    display: grid;
    grid-template-columns: 1fr 29.75rem;
    grid-template-areas: 'info image';
    text-align: start;
    line-height: 1.625rem;
  }

  .reverse {
    grid-template-columns: 29.75rem 1fr;
    grid-template-areas: 'image info';
  }

  .section__info {
    grid-area: info;
    padding-inline: var(--box-padding-inline) 84px;
  }

  .section--dark {
    padding-block: 135px;
  }

  .section--light {
    padding-block: 154px;
  }

  .section--light > p {
    margin-block-start: 1.5rem;
  }

  .section__image {
    height: 100%;
    grid-area: image;
  }

  .section__pattern--dark > img {
    object-position: bottom left;
  }

  .section__pattern--light > img {
    object-position: bottom left;
  }
}
