.section {
  text-align: center;
}

.section__box {
  position: relative;
  background-color: var(--color-primary);
  padding-block: 72px;
  color: var(--color-primary-light);
}

.section__title {
  composes: heading-large from global;
  margin-block-end: 1.5rem;
  text-transform: capitalize;
}

.section__info {
  composes: text-small from global;
  position: relative;
  margin-block-end: 2.5rem;
  line-height: 1.5625rem;
}

.section__pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section__pattern > img {
  object-fit: none;
  object-position: top 0 left -90px;
}

@media screen and (min-width: 600px) {
  .section {
    padding-inline: var(--padding-inline);
  }

  .section__box {
    border-radius: var(--border-radius);
    overflow: hidden;
    text-align: start;
    padding-inline: 58px;
  }

  .section__title {
    margin-block-end: 2rem;
  }

  .section__info {
    margin-block-end: 2rem;
  }

  .section__text {
    max-width: 47ch;
  }

  .section__pattern > img {
    object-position: top -80px left -123px;
  }
}

@media screen and (min-width: 1200px) {
  .section__box {
    display: grid;
    align-items: center;
    grid-template-columns: 1.42fr 1fr;
    grid-template-areas: 'info form';
    padding-inline: var(--box-padding-inline) 96px;
    padding-block: 0;
    gap: 30px;
  }

  .section__info {
    margin-block-end: 0;
    padding-block: 135px 161px;
    grid-area: info;
    line-height: 1.625rem;
  }

  .section__pattern > img {
    object-position: bottom left;
  }
}
