.intro {
  text-align: center;
}

.intro__box {
  padding-block: 105px 104px;
  background-color: var(--color-primary);
  color: var(--color-primary-light);
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.intro__title {
  composes: heading-large from global;
  text-transform: capitalize;
  position: relative;
}

.intro__text {
  composes: text-small from global;
  max-width: 40ch;
  margin-inline: auto;
  margin-block-start: 1.5rem;
  position: relative;
}

.intro__pattern {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.intro__pattern > img {
  object-fit: none;
  object-position: top right;
}

@media screen and (min-width: 600px) {
  .intro {
    padding-inline: var(--padding-inline);
  }

  .intro__box {
    padding-block: 64px;
    border-radius: var(--border-radius);
  }

  .intro__pattern > img {
    object-fit: none;
    object-position: top 50% right -165px;
  }
}

@media screen and (min-width: 1200px) {
  .intro {
    max-width: var(--max-width);
  }

  .intro__pattern > img {
    object-position: top 50% right 0;
  }
}
