.locations > * + * {
  margin-block-start: 2.5rem;
}

/* 600px */
@media screen and (min-width: 37.5rem) {
  .locations {
    padding-inline: var(--padding-inline);
  }

  .locations > * + * {
    margin-block-start: 7.5rem;
  }
}

/* 1200px */
@media screen and (min-width: 75rem) {
  .locations > * + * {
    margin-block-start: 2rem;
  }
}
